.container {
  width: 960px;
  margin: 0 auto;
}

.menu {
  width: 200px;
  float: left;
  border: 1px solid blue;
}

.conteudo {
  width: 560px;
  float: left;
  border: 1px solid red;
}

.propaganda {
  border: 1px solid red;
  width: 194px;
  float: left;
}

.rodape {
  clear: left;
  width: 960px;
  border: 1px solid purple;
  overflow: hidden; /* hack */
}

.rodape .loja {
  float: left;
  width: 315px;
}
