body {
  /* http://www.colourlovers.com/ */
  background-image: url("../imgs/611362.png");
  background-repeat: repeat-x; /* repeat-x repeat-y repeat no-repeat */
  /* background-position: 200px 50px; */
  /* background: gray url("../imgs/611362.png") no-repeat 200px 50px; */
  font-family: "Lucida Grande", sans-serif;
}

.destaque::first-letter {
  font-size: 30px;
}

.logo {
  color: white;
  padding: 20px;
  margin-bottom: 50px;
}

p { margin-left: 50px; }
