.p1, .p2 { margin: 0; }

.p1 {
  /* margin-top, margin-right, margin-bottom, margin-left */
  /* margin: 30px 20px 10px 20px; shorthand: sentido horário começando de top */
  padding: 20px 40px;
  width: 200px;

  border-bottom: 1px solid blue;
}

.p2 {
  border: 1px solid red;
  width: 500px;
  margin: 20px auto;
}

.lista-de-bens li {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-de-busca label {
  margin-right: 40px;
}
